@import 'tailwindcss';

.chat-prompt {
    background: 
    linear-gradient(rgba(238, 238, 238, 0.7), rgba(190, 190, 190, 0.9)), 
    url("/images/PDM-Facade.png") center/cover no-repeat;
}
.mainContent {
    display: grid;
    grid-template-areas: 'Navbar Main';
    grid-template-columns: 1fr 5fr; /* Navbar takes 1 part, Main takes 3 parts */
    height: 100vh; /* full screen height */
    gap: 7px; /* space between columns */
}
.navBar {
    grid-area: Navbar;
    box-shadow: 10px 0px 0px 0px #FFDB0D;
}

.main {
    grid-area: Main;
}

.component {
    border-radius: 25px;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.7);
}

.box::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
}

.nav {
    cursor: pointer;
    transition: all 0.3s ease;
    will-change: transform;
}


.nav img {
    display: inherit; /* removes inline-gap artifacts */
    background-color: transparent;
    image-rendering: -webkit-optimize-contrast;
}

.nav:hover {

    transform: translateY(-0.5rem);
}

.botRespo {
    font-size: clamp(1rem, 1.8vw, 1.8rem);
    font-family: sans-serif;
    text-align: justify;
    line-height: 1.2;
    padding: 1% 1%;
    color: black;
    white-space: pre-wrap;
}

.userRespo {
    font-size: clamp(1rem, 1.8vw, 1.8rem);
    font-family: sans-serif;
    line-height: 1.2;
    padding: 1% 1%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 98% 95%, 0 95%);
}


.userUploaded {
    font-size: clamp(1rem, 1.8vw, 1.8rem);
    padding: 2% 1%;
    font-family: sans-serif;
    line-height: 1.2;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 98% 95%, 0 95%);
}

.uploading{
    color: transparent;
	background: linear-gradient(
		90deg,
		#d4d4d4 30%,
		#adadad 50%,
		#d4d4d4 70%
	);
	background-size: 400% 100%;
	animation: uploading 1.5s infinite linear;
}
@keyframes uploading {
	0% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0 0;
	}
}