@import 'tailwindcss';

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #792C1A;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}