.login_input {
    background-color: rgba(221, 221, 221, 0.8);
    font-size: clamp(0.7rem, 1.2vw, 1.4rem);
    width: 80%;
    height: 7vh;
    border-radius: 20px;
    border: 1px solid rgba(41, 41, 41, 0.8);
    padding: 3%;
}